<?xml version="1.0" encoding="utf-8"?>
<manifest
    xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">
    <application>
        <activity android:name="com.unity3d.player.UnityPlayerActivity"
                  android:theme="@style/UnityThemeSelector">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
            <meta-data android:name="unityplayer.UnityActivity" android:value="true" />
            <meta-data android:name="com.oculus.ossplash.background" android:value="black" />
            <meta-data android:name="com.oculus.ossplash.type" android:value="none" />
            <meta-data android:name="com.oculus.supportedDevices" android:value="all" />
            <meta-data android:name="com.oculus.handtracking.version" android:value="V2.0" />
            <meta-data android:name="com.oculus.handtracking.frequency" android:value="HIGH" />
            <meta-data android:name="com.oculus.vr.tracking.required.controllers" android:value="0" />
            <meta-data android:name="com.oculus.vr.tracking.required.features" android:value="0" />
        </activity>
    </application>
</manifest>
